@font-face {
    font-family: 'geogrotesque_stencil_c_mdMd';
    src: url('../fonts/stancil/stancil-medium-webfont.eot');
    src: url('../fonts/stancil/stancil-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stancil/stancil-medium-webfont.woff2') format('woff2'),
         url('../fonts/stancil/stancil-medium-webfont.woff') format('woff'),
         url('../fonts/stancil/stancil-medium-webfont.ttf') format('truetype'),
         url('../fonts/stancil/stancil-medium-webfont.svg#geogrotesque_stencil_c_mdMd') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'geogrotesque_stencil_c_bdbold';
    src: url('../fonts/stancil/stancil-bold-webfont.eot');
    src: url('../fonts/stancil/stancil-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stancil/stancil-bold-webfont.woff2') format('woff2'),
         url('../fonts/stancil/stancil-bold-webfont.woff') format('woff'),
         url('../fonts/stancil/stancil-bold-webfont.ttf') format('truetype'),
         url('../fonts/stancil/stancil-bold-webfont.svg#geogrotesque_stencil_c_bdbold') format('svg');
    font-weight: normal;
    font-style: normal;

}