body{
  background-image: url('../images/background_temp.jpg');
  background-size:cover;
  background-position:50% 0;
  background-repeat:no-repeat;
}

.homepage, .game {
  #register {
    @include border-radius(10px);
    background-color:rgba(255,255,255,0.9);
    max-width:800px;
  }
  
  #welkom {
    @include border-radius(10px);
    background-color:rgba(255,255,255,0.9);
    max-width:800px;
  }
}
